<p class="pageHeader">All Tags</p>

<div class="container">
    <table>
        <tr>
            <th>Name</th>
        </tr>
        #foreach($tag in $tags)
        <tr>
            <td>$tag.getName()</td>
        </tr>
        #end
    </table>


</div>