<p class="pageHeader">All Tags</p>

<div class="container">
    <table>
        <tr>
            <th>Name</th>
        </tr>
        #foreach($tag in $tags)
        <tr>
            <td>$tag.getName()</td>
            <td> <form action="/tags/$tag.getId()/delete" method="POST">
                <input type="submit" value="Delete Tag"/>
            </form></td>
        </tr>
        #end
    </table>


</div>