<p class="pageHeader">All Writers</p>

<div class="container">
    <table>
        <tr>
            <th>Name</th>
        </tr>
        #foreach($writer in $writers)
        <tr>
            <td>$writer.getName()</td>
            <!--<td> <form action="/writers/writer.getId()/delete" method="POST">-->
                <!--<input type="submit" value="Delete Writer"/>-->
            <!--</form></td>-->
        </tr>
        #end
    </table>


</div>