<p class="pageHeader">Writers</p>

<div class="container">
    <table>
        <tr>
            <th>Name</th>
        </tr>
        #foreach($writer in $writers)
        <tr>
            <td>$writer.getName()</td>
        </tr>
        #end
    </table>


</div>