<h1 class="page-header">New Writer</h1>

<div class="form-wrap">
<form action="/admin/writer" method="post">
    <div class="form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    </div>

    <div class="form">
    <label for="blurb">Blurb:</label>
    <input type="text" id="blurb" name="blurb" required>
    </div>

    <div class="form">
    <input class="btn" type="submit" value="Add Writer">
    </div>
</form>
</div>