<h1 class="page-header">Edit Writer</h1>

<div class="form-wrap">
<form action="/admin/writer/update/$writer.getId()" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required value="$writer.getName()">

    <input type="text" id="blurb" name="blurb" required value="$writer.getBlurb()">

    <input class="btn" type="submit" value="Update Writer">
</form>
</div>