<p class="pageHeader">This Authors Articles</p>

<p>$writer.getName()</p>
<p>$writer.getBlurb()</p>

#foreach($article in $articles)
    <a href="/article/$article.getId()"><p>$article.getTitle()</p></a>
    <p>$article.getSummary()</p>
#end
