<p class="pageHeader">All Categories</p>

<div class="container">
    <table>
        <tr>
            <th>Name</th>
        </tr>
        #foreach($category in $categories)
        <tr>
            <td>$category.getName()</td>
        </tr>
        #end
    </table>


</div>