<h1 class="page-header">New Category</h1>

<div class="form-wrap">

<form action="/admin/category" method="post">
    <div class="form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    </div>

    <div class="form">
    <input class="btn" type="submit" value="Add Category">
    </div>
</form>

</div>