<h1 class="page-header">Edit Category</h1>

<div class="form-wrap">

<form action="/admin/category/update/$category.getId()" method="post">
    <div class="form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required value="$category.getName()">
    </div>
    <div class="form">
    <input class="btn" type="submit" value="Update Category">
    </div>
</form>
</div>