<h2>$category.getName()</h2>

<ul>
    #foreach($article in $articles)
        <li>
            <a href="/admin/article/$article.getId()"><h3>$article.getTitle()</h3></a>
            <p>$article.dateFormatted()</p>
            <p>$article.getVisitCounter()</p>
            <p>$article.getSummary()</p>
        </li>
    #end
</ul>