<p class="pageHeader">All Visitors</p>

<div class="container">
    <table>
        <tr>
            <th>Name</th>
        </tr>
        #foreach($visitor in $visitors)
        <tr>
            <td>$visitor.getName()</td>
            <td> <form action="/visitors/$visitor.getId()/delete" method="POST">
                <input type="submit" value="Delete Visitor"/>
            </form></td>
        </tr>
        #end
    </table>


</div>