body {
  background-color: #F0F0F0;
  text-align: center;
}

h1, h2, h3, th, tr {
font-family: 'Amatic SC', cursive;
font-weight: 400;
text-align: left;
color: #787C79;
}

h4{
font-family: 'Amatic SC', cursive;
font-weight: 300;
color: #787C79;
font-size: 1.8em;
}

.footer{
font-size: 2.0em;
float: left;
margin: 0 0px;
padding: 1;
}

.sign-up{
text-align:center;

}

.fancy-title {
font-size: 7.8em;
font-family: 'Amatic SC', cursive;
font-weight: 400;
text-align: center;
padding: 1;
margin: 0 0px;
}

.fancy-title:hover {
 color: #9E7C52;
}

p {
font-family: 'Markazi Text', serif;
font-weight: 300;
font-size: 1.6em;
text-align: center;
color: #2C3539;
}

a, a:link, a:visited {
font-family: 'Amatic SC', cursive;
font-weight: 300;
color: #9E7C52;
text-decoration: none;
display: flex;
outline: none;
}

a:hover, a:active, a:focus {
color: #9E7C52;
}

.selected {
background-color: #9E7C52;
outline: none;
}

nav {
padding: 0;
margin: 0 0px;
text-align: center;
background-color: #B9B2A9;
display: flex;
justify-content: space-around;
font-family: 'Amatic SC', cursive;
font-size: 3em;
font-weight: 400;
color: #9E7C52;
}

ul li {
margin-bottom: 5px;
list-style-type: none;
}

.page-header{
font-family: 'Amatic SC', cursive;
text-align: left;
font-size: 4em;
}

.article-title{
font-family: 'Amatic SC', cursive;
text-align: left;
font-size: 3em;
 }

.article-add-ons{
display: flex;
justify-content: space-around;
}


.article-wrapper{
list-style-type: none;
}

.category-wrap{
}

.tag-wrap{
}

.writer-wrap{
}

.side-bar-right{
}

.side-bar-left{
}

.edit-container{
}

.edit-options{
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 2.8em;
}

.pagination a.active {
    background-color: #9E7C52;
    color: #2C3539;
}

.pagination a:hover:not(.active) {
background-color: #F0F0F0;
}

#content {
  align-items: center;
}

.home-image{
height: 30vh;

}

.article-info-card{
display: inline-block;
width: 30vw;
height: 100vh;
vertical-align: top;
padding: 0.2vw;
}

.article-list-view {
height: 70vh;
display: block;
}

.index-image {
height: 50%;
float: left;
}

.article-title-index{
display: block;
font-family: 'Amatic SC', cursive;
font-size: 3em;
}

.show-image{
height: 60vh;
}

.article-title-show {
font-family: 'Amatic SC', cursive;
font-size: 3em;
display: block;
}

.clap {
display: block;
}

.article-show-header{
display: inline;
width: 100%;
}

.article-select-image{
height: 30vh;
}