<h1 class="page-header">New Tag</h1>

<div class="form-wrap">
<form action="/admin/tag" method="post">
    <div class="form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    </div>

    <div class="form">
    <input class="btn" type="submit" value="Add Tag">
    </div>
</form>
</div>