<h1 class="page-header">New Tag</h1>

<div class="form-wrap">
<form action="/admin/tag" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <input class="btn" type="submit" value="Add Tag">
</form>
</div>