<h1>New Tag</h1>

<form action="/admin/tag" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <input type="submit" value="Add Tag">
</form>