<h2 class="page-header">All Tags</h2>

<a href="/admin/tag/new">Add a new Tag</a>

<ul>
    #foreach($tag in $tags)
    <li>
        <a href="/admin/tag/$tag.getId()"><h3>$tag.getName()</h3></a>
        <ul>
            #foreach($article in $tagArticles.get($tag.getId()))
            <li>
                <a href="/admin/article/$article.getId()"><h4>$article.getTitle()</h4></a>
                <p>$article.getSummary()</p>
            </li>
            #end
        </ul>
    </li>
    #end
</ul>