<h2>$tag.getName()</h2>

<ul>
    #foreach($article in $articles)
    <li>
        <h3>$article.getTitle()</h3>
        <p>$article.dateFormatted()</p>
        <p>$article.getVisitCounter()</p>
        <p>$article.getSummary()</p>
    </li>
    #end
</ul>