<!DOCTYPE html>
<html>
<head>
    <title>Admin: From The Road</title>
    <link rel='stylesheet' href='/structure.css'>
    <link rel='stylesheet' href='/form.css'>
    <link rel='stylesheet' href='/button.css'>
    <link rel='stylesheet' href='/table.css'>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Markazi+Text" rel="stylesheet">
</head>
<body>
<!-- begin inner template-->
<a href="/admin"><h1 class="fancy-title">From The Road</h1></a>

<nav>
    <a href="/admin">Home</a>
    <a href="/">View Site</a>
    <a href="/admin/articles">See All Articles</a>
    <a href="/admin/article/new">Add a New Article</a>
    <a href="/admin/writers">See All Writers</a>
    <a href="/admin/writer/new">Add a New Writer</a>
    <a href="/admin/categories">See All Categories</a>
    <a href="/admin/category/new">Add a New Category</a>
    <a href="/admin/tags">See All Tags</a>
    <a href="/admin/tag/new">Add a New Tag</a>
</nav>
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>