<!DOCTYPE html>
<html>
<head>
    <title>Meanwhile On The Road</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<!-- begin inner template-->
<nav>
    <a href="/">Home</a>
    <a href="/articles">Articles</a>
    <a href="/admin">Admin</a>
</nav>
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>