<!DOCTYPE html>
<html>
<head>
    <title>From The Road</title>
    <link rel='stylesheet' href='/structure.css'>
    <link rel='stylesheet' href='/form.css'>
    <link rel='stylesheet' href='/button.css'>
    <link rel='stylesheet' href='/table.css'>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Markazi+Text" rel="stylesheet">
</head>
<body>
<!-- begin inner template-->
<div class="top">
<a href="/"><h1 class="fancy-title">From The Road</h1></a>


<form class="searching" action="/articles/search/1" method="get">
    <input class="search-bar" type="text" placeholder="Search for articles" name="searchTerm">

    <input class="btn search-btn searching" type="submit" value="Search">
</form>
</div>

<nav>
    <a href="/">Home</a>
    <a href="/articles/1">Articles</a>

    #foreach ($category in $navBarCategories)

    <a href="/category/$category.getId()/1">$category.getName()</a>

    #end


</nav>
<div class="container">
    #parse( $template )
</div>
<div class="sign-up-btn">
    <input class="btn" type="submit" value="Sign Up">
</div>
<div class="footer">
<a href="/admin">Admin</a>
</div>
<!-- end inner template-->
</body>
</html>