<!DOCTYPE html>
<html>
<head>
    <title>From The Road</title>
    <link rel='stylesheet' href='/structure.css'>
    <link rel='stylesheet' href='/form.css'>
    <link rel='stylesheet' href='/button.css'>
    <link rel='stylesheet' href='/table.css'>
    <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
</head>
<body>
<!-- begin inner template-->
<h1>From The Road</h1>
<nav>
    <a href="/">Home</a>
    <a href="/articles/1">Articles</a>

    #foreach ($category in $navBarCategories)

    <a href="/category/$category.getId()">$category.getName()</a>

    #end

    <a href="/admin">Admin</a>
</nav>
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>