<p class="page-header">$tag.getName()</p>

<div class="tag-wrap">
#foreach($article in $articles)
    <a href="/article/$article.getId()"><h4>$article.getTitle()</h4></a>
    <p>$article.getSummary()</p>
#end
></div>




