<p class="pageHeader">This Tags Articles</p>

<p>$tag.getName()</p>

#foreach($article in $articles)
    <a href="/article/$article.getId()"><p>$article.getTitle()</p></a>
    <p>$article.getSummary()</p>
#end





