<p class="pageHeader">This Categories Articles</p>

<p>$category.getName()</p>

    #foreach($article in $articles)
        <p>$article.getTitle()</p>
        <p>$article.getSummary()</p>
    #end














